[submodule "themes/mini"]
path = themes/mini
url = https://github.com/nodejh/hugo-theme-mini.git
[submodule "hugo-theme-mini"]
	path = hugo-theme-mini
	url = https://github.com/nodejh/hugo-theme-mini.git
